name: Build

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Name of the release"
        required: true
        default: "latest"

jobs:
  build:
    runs-on: windows-latest
    environment: publish
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: "recursive"

      - name: Set up Rust
        shell: bash
        run: |
          rustup toolchain install --profile minimal

      - name: Cache rust
        uses: Swatinem/rust-cache@v2

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true

      - name: Set up cargo-edit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-edit

      - name: Update Cargo.toml
        run: |
          cargo set-version ${{ github.event.inputs.name }}
          cargo update --workspace

      - name: Prepare release
        shell: bash
        run: |
          bundle install
          bundle exec rake release

      - name: Commit version change
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git add Cargo.toml Cargo.lock
          git commit -m "release: v${{ github.event.inputs.name }}"
          git tag ${{ github.event.inputs.name }}

      - name: Push Tag
        run: |
          git push

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.name }}
          body_path: ./release/README.md
          files: |
            ./release/ntsc-rs-*.au2pkg.zip
